<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WpfFrontEnd.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <WpfFrontEnd.Properties.Settings>
            <setting name="Occupations" serializeAs="String">
                <value>Accountant,Chauffeur,Other</value>
            </setting>
            <setting name="YoungestDriverAge" serializeAs="String">
                <value>21</value>
            </setting>
            <setting name="OldestDriverAge" serializeAs="String">
                <value>75</value>
            </setting>
            <setting name="EndingYoungAge" serializeAs="String">
                <value>26</value>
            </setting>
            <setting name="StartingYoungAge" serializeAs="String">
                <value>21</value>
            </setting>
            <setting name="IncreasePremiumValue" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="DecreasePremiumValue" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="StartingAdultAge" serializeAs="String">
                <value>26</value>
            </setting>
            <setting name="SmallerPercentageIncrease" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="LargerPercentageIncrease" serializeAs="String">
                <value>0.2</value>
            </setting>
            <setting name="SmallerTimeSpanInYears" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="LargerTimeSpanInYears" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="DecreaseAmountBasedOnOccupation" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="IncreaseAmountBasedOnOccupation" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="StartingPremiumAmount" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="OccupationsWherePremiumIsIncreased" serializeAs="String">
                <value>Chaufeur</value>
            </setting>
            <setting name="OccupationsWherePremiumIsDecreased" serializeAs="String">
                <value>Accountant</value>
            </setting>
        </WpfFrontEnd.Properties.Settings>
    </userSettings>
</configuration>